<footer>   
    <div class="width1200">
        <div class="footerBox">
            <div class="logo">
                <a href="/"><img src="/img/logo.svg" alt="Vottun SDK by MetaSkeletor"></a>
                <p>The easiest way to manage your ERC-20 tokens with Vottun</p>
            </div>
        </div>
        <div class="footerBox">
            <h3>Tools</h3>
            <div class="menu">
                <ul>        
                    <li><a href="/deploy" <% if (currentUrl === '/deploy') { %>class="active"<% } %>>Deploy</a></li>
                    <li><a href="/allowance" <% if (currentUrl === '/allowance') { %>class="active"<% } %>>Allowance</a></li>        
                    <li><a href="/transfer" <% if (currentUrl === '/transfer') { %>class="active"<% } %>>Transfer</a></li>
                    <li><a href="/transferfrom" <% if (currentUrl === '/transferfrom') { %>class="active"<% } %>>Transfer From</a></li>
                    <!-- Agrega más elementos del menú según sea necesario -->
                </ul>
            </div>
        </div>
        <div class="footerBox">
            <div class="social">
                <h3>Follow me!</h3>
                <a href="https://twitter.com/metaskeletor"><i class="fa-brands fa-x-twitter"></i></a>                
                <a href="https://www.linkedin.com/in/jesus-vazquez-luque/"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>    
        </div>            
    </div>    
    <div class="logojvl">
        <style>.jvlLogo {transition:ease-in .2s}.jvlLogo:hover {transform:rotate(-8deg)}</style>
        Design & Development: <a style="font-size:18px!important;" target="_blank" href="https://www.jvldesign.es"><img class="jvlLogo" src="https://www.jvldesign.es/wp-content/uploads/2023/10/jvl-design-blanco.svg" width="80px"></a>
    </div>
</footer>