<header>
<div class="logo">
    <a href="/"><img src="/img/logo.svg" alt="Vottun SDK by MetaSkeletor"></a>
</div>
<div class="menu">
    <ul>        
        <li><a href="/deploy" <% if (currentUrl === '/deploy') { %>class="active"<% } %>>Deploy</a></li>
        <li><a href="/allowance" <% if (currentUrl === '/allowance') { %>class="active"<% } %>>Allowance</a></li>        
        <li><a href="/transfer" <% if (currentUrl === '/transfer') { %>class="active"<% } %>>Transfer</a></li>
        <li><a href="/transferfrom" <% if (currentUrl === '/transferfrom') { %>class="active"<% } %>>Transfer From</a></li>
        <% if (loggedIn) { %>
            <li class="userMenu">
                <span class="userName"><i class="fa-solid fa-user"></i> <%= name %></span>
                <ul class="dropdownMenu">
                    <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Disconnect</a></li>
                </ul>
            </li>
        <% } else { %>
            <li><a id="loginBtn" class="userName" href="#"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
        <% } %>
        
        <!-- Agrega más elementos del menú según sea necesario -->
    </ul>
</div>
</header>

<div id="myModalLogin" class="modal">
    <div class="modal-content-login">
        <span class="closeLogin">&times;</span>
        <div class="message">
            <div class="important">
                <h3>Important</h3>
                <p>Both the API Key and the APP ID will be stored in your browser until you log out or close the tab. No one will have access to your keys.</p>
            </div>
            <!-- Aquí irá el formulario de inicio de sesión -->
            <form id="loginForm" action="/login" method="post">
                <label for="name"><i class="fa-solid fa-user"></i> Username</label>
                <input type="text" id="name" name="name">
                <label for="apiKey"><i class="fa-solid fa-key"></i> Vottun API Key</label>
                <input type="text" id="apiKey" name="apiKey">
                <label for="appId"><i class="fa-solid fa-key"></i> Vottun APP ID</label>
                <input type="text" id="appId" name="appId">
                <button type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
            </form>
        </div>
    </div>
</div>
<script>
    // Abrir el modal al hacer clic en el botón "Login"
document.getElementById('loginBtn').addEventListener('click', function() {
    document.getElementById('myModalLogin').style.display = 'flex';
});

// Cerrar el modal al hacer clic en la "x"
document.getElementsByClassName('closeLogin')[0].addEventListener('click', function() {
    document.getElementById('myModalLogin').style.display = 'none';
});

// Cerrar el modal si el usuario hace clic fuera del área del modal
window.addEventListener('click', function(event) {
    if (event.target == document.getElementById('myModalLogin')) {
        document.getElementById('myModalLogin').style.display = 'none';
    }
});

</script>